/* GLOBAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  margin-top: 5rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  width: 75%;
  margin: auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
  justify-content: space-evenly;
  margin-top: 50px;
}

button {
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: large;
  font-weight: bold;
  border-radius: 15%;
}
