/* GLOBAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  margin-top: 5rem;
  height: 50%;
  width: 85%;
  border: 1px green solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
